.first-input{
    padding-top: 10px;
  }

.second-input{
    padding-bottom: 10px;
  }

  .third-input{
    padding-bottom: 10px;
  }

  .fourth-input{
    padding-bottom: 10px;
  }

  .fifth-input{
    padding-bottom: 10px;
  }

  .sixth-input{
    padding-bottom: 10px;
  }

  .signup-btn{
    padding-top: 10px;
    padding-bottom: 10px;
  }